<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.13.2" targetFramework="net471" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net471" />
  <package id="Selenium.InternetExplorer.WebDriver" version="3.150.1" targetFramework="net471" />
  <package id="Selenium.Microsoft.Webdriver2" version="2.0.10586.1" targetFramework="net471" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net471" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net471" />
  <package id="Selenium.WebDriver.ChromeDriver" version="93.0.4577.1500" targetFramework="net471" />
  <package id="Selenium.WebDriver.Extensions" version="3.3.0" targetFramework="net471" />
  <package id="Selenium.WebDriver.MicrosoftDriver" version="17.17134.0" targetFramework="net471" />
  <package id="Selenium.WebDriver.MicrosoftWebDriver" version="10.0.17134" targetFramework="net471" />
  <package id="Selenium.WebDriver.WaitExtensions" version="2.0.0" targetFramework="net471" />
</packages>